.gnome-vagrant-indicator-prefs-box,
.gnome-vagrant-indicator-prefs-box > border { border: 0 none; }
.gnome-vagrant-indicator-prefs-input { padding: 0.5em; }
.gnome-vagrant-indicator-prefs-separator { margin: 1em 4em; }
.gnome-vagrant-indicator-prefs-info { margin: 0 4em 1em 4em; font-size: 0.8em; }
.gnome-vagrant-indicator-prefs-page { padding: 2em; }
.gnome-vagrant-indicator-prefs-page-about-title { padding-bottom: 2em; font-weight: bold; }
.gnome-vagrant-indicator-prefs-page-about-icon { min-height: 64px; min-width: 64px; }
.gnome-vagrant-indicator-prefs-page-about-description { padding: 2em; }
.gnome-vagrant-indicator-prefs-page-about-license { font-size: 0.8em; }
